.Rproj.user
.Rhistory
.RData
recomb_posters.Rproj
signalhsmm_poster-concordance.tex
signalhsmm_poster.aux
signalhsmm_poster.bbl
signalhsmm_poster.blg
signalhsmm_poster.log
signalhsmm_poster.nav
signalhsmm_poster.out
signalhsmm_poster.pdf
signalhsmm_poster.snm
signalhsmm_poster.synctex.gz
signalhsmm_poster.tex
signalhsmm_poster.toc
recomb2015.Rproj
figure
QuiPT_presentation-concordance.tex
QuiPT_presentation.aux
QuiPT_presentation.bbl
QuiPT_presentation.blg
QuiPT_presentation.log
QuiPT_presentation.nav
QuiPT_presentation.out
QuiPT_presentation.snm
QuiPT_presentation.synctex.gz
QuiPT_presentation.tex
QuiPT_presentation.toc
